body { background: #b84043; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-sms-0 { color: #e288ca; font-size: 16px; margin-bottom: 5px; }
.block-notify-1 { color: #9df41; font-size: 12px; margin-bottom: 5px; }
.block-validator-2 { color: #7534ed; font-size: 15px; margin-bottom: 5px; }
.block-order-3 { color: #7c3b7b; font-size: 21px; margin-bottom: 5px; }
.block-filter-4 { color: #e4656e; font-size: 13px; margin-bottom: 5px; }